<section class="mt-4 text-center">
  <%= render partial: "shared/score_tables/score_table", locals: {difficulty: "Easy", plays: easy_plays} %>
  <%= render partial: "shared/score_tables/score_table", locals: {difficulty: "Medium", plays: medium_plays} %>
  <%= render partial: "shared/score_tables/score_table", locals: {difficulty: "Hard", plays: hard_plays} %>
</section>  