<h1>Log In</h1>

<section class="mt-4">
  <p class="text-center">By signing into your BombSweeper account you can</p>

  <%= render partial: "shared/account_features_list" %>

  <p class="text-center">If you don't have an account, sign up <%= link_to "here", sign_up_path %></p>
</section>  

<%= render partial: "shared/forms/form", locals: { type: "Log In", model: @user, path: log_in_path, error_message: "Email or password incorrect" } %>