<h1>Log In</h1>

<section class="mt-4">
  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>
</section>  

<%= render partial: "shared/forms/form", locals: { type: "Log In", model: @user, path: log_in_path } %>