  <div class="form-group mb-4">
    <%= form.label label, class: "mb-2" %>
    <%= form.text_field label, class: "form-control", type: type, placeholder: placeholder, required: required, minlength: minlength, maxlength: maxlength %>
  </div>