<h2>Scoreboard</h2>

<p><%= @intro_text %></p>

<%= render partial: "shared/score_tables/score_tables", locals: { easy_plays: @easy_plays, medium_plays: @medium_plays, hard_plays: @hard_plays, show_user: true } %>

<%= render partial: "shared/home_link" %>