<h1>Sign Up</h1>

<section class="mt-4">
  <p class="text-center">With a BombSweeper account you can</p>

  <%= render partial: "shared/account_features_list" %>

  <p class="text-center">Sign up today!</p>
</section> 

<%= render partial: "shared/forms/form", locals: { type: "Sign Up", model: @user, path: sign_up_path, error_message: "User registration could not be completed" } %>