<h1>Sign Up</h1>

<section class="mt-4">
  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>

  <p>Information about the benefits of creating an account and logging in</p>
</section> 

<%= render partial: "shared/forms/form", locals: { type: "Sign Up", model: @user, path: sign_up_path } %>