<h3>Easy Top Scores</h3>

<%= render partial: "shared/score_table", locals: {plays: easy_plays} %>

<h3>Medium Top Scores</h3>

<%= render partial: "shared/score_table", locals: {plays: medium_plays} %>

<h3>Hard Top Scores</h3>

<%= render partial: "shared/score_table", locals: {plays: hard_plays} %>