<header>
  <nav>
    <h1>BombSweeper</h1>
    <ul>
      <li><%= link_to 'The Game', root_path %></li>
      <li><%= link_to 'Scoreboard', users_path %></li>
      <li><%= link_to 'Sign Up', sign_up_path %></li>
      <li><%= link_to 'Log In', log_in_path %></li>
    </ul>  
  </nav>

  <h2>Enjoy the Game!</h2>
  <div>Add Game Here</div>
</header>

