<header>
  <nav>
    <h1>BombSweeper</h1>
    <ul>
      <li><a>The Game</a></li>
      <li><a>Scoreboard</a></li>
      <li><a>Sign Up</a></li>
      <li><a>Log In</a></li>
    </ul>  
  </nav>

  <div>The Game</div>
</header>

