<h2>Instructions</h2>

<section class="mb-4 text-center">
  <p>Add paragraphs explaining how to play the game once the game has been made</p>

  <p>Add paragraphs explaining how to play the game once the game has been made</p>

  <p>Add paragraphs explaining how to play the game once the game has been made</p>

  <p>Enjoy the game!</p>

  <h3 class="mt-5">Easy Board</h3>
</section>
