body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  height: 48px;
}

nav ul li {
  height: 48px;
  padding: 0 8px;
}

main > h2 {
  margin-bottom: 40px;
}

main > h3 {
  margin: 20px 0 16px;
}

main > section > h3 {
  margin: 20px 0 16px;
}

section > div {
  display: flex;
}

section > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid black;
  color: #8B0000;
}

section > div > p > span {
  font-weight: 600;
}

form > div > label {
  font-weight: 600;
}
