section.board {
  width: min-content;
  border: 1px solid black;
}

section.board > div {
  display: flex;
}

section.board > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid black;
  color: #8b0000;
}

section.board > div > div.hidden {
  background-color: rgb(25, 135, 84);
}

section.board > div > div.hidden:hover {
  background-color: rgb(30, 167, 103);
  cursor: pointer;
}

section.board > div > div.hidden span {
  opacity: 0;
}

p.timer {
  text-align: center;
}

p.timer > button {
  margin-left: 12px;
  padding: 4px 12px;
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
}

p.timer > button:hover {
  background-color: #6c757d;
}

p.timer > span {
  font-weight: 600;
}

div.results-container {
  height: 24px;
  margin: 24px 0;
}

div.results-container p.results {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

div.results-container p.results.win {
  color: darkgreen;
}

div.results-container p.results.lose {
  color: darkred;
}

/* Mobile Styles */

@media screen and (max-width: 860px) {
  section.board.large {
    margin: 200px 0;
    transform: rotate(90deg);
  }

  section.board.large > div > div {
    transform: rotate(-90deg);
  }
}
