div.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.board {
  width: min-content;
  border: 1px solid black;
}

section.board > div {
  display: flex;
}

section.board > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  border: 1px solid black;

  background-color: rgb(200, 242, 200);
}

section.board > div > div.one {
  color: blue;
}

section.board > div > div.two {
  color: green;
}

section.board > div > div.three {
  color: red;
}

section.board > div > div.four {
  color: rgb(1, 1, 90);
}

section.board > div > div.five {
  color: rgb(82, 41, 12);
}

section.board > div > div.six {
  color: teal;
}

section.board > div > div.seven {
  color: rgb(70, 1, 70);
}

section.board > div > div.eight {
  color: grey;
}

section.board > div > div.hidden,
section.board > div > div.flagged {
  background-color: rgb(25, 135, 84);
}

section.board > div > div.hidden.clickable:hover {
  background-color: rgb(30, 167, 103);
  cursor: pointer;
}

section.board > div > div.hidden span,
section.board > div > div.flagged span {
  opacity: 0;
}

section.board > div > div.flagged {
  background-image: url("../public/red-flag.png");
  background-size: cover;
}

section.board > div > div.falsely-flagged {
  background-color: rgb(25, 135, 84);
  border: 2px red solid;
}

section.board > div > div.falsely-flagged > span {
  color: red;
  font-weight: 600;
}

div.flag-counter {
  display: flex;
  align-items: center;
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
}

div.flag-counter > span.flag-image {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  background-image: url("../public/red-flag.png");
  background-size: cover;
}

div.results-container {
  height: 24px;
  margin: 24px 0;
}

div.results-container p.results {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

div.results-container p.results.win {
  color: darkgreen;
}

div.results-container p.results.lose {
  color: darkred;
}

section.timer {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

section.timer > button,
section.timer > div > button {
  width: 148px;
  margin-left: 12px;
  padding: 4px 16px;
  background-color: #212529;
  color: white;
  border: none;
  border-radius: 8px;
}

section.timer > button:hover,
section.timer > div > button:hover {
  background-color: #6c757d;
  cursor: pointer;
}

section.timer > button.disabled,
section.timer > div > button.disabled {
  background-color: lightgrey;
  cursor: default;
}

section.timer > button.disabled:hover,
section.timer > div > button.disabled:hover {
  background-color: lightgrey;
  cursor: default;
}

section.timer > span {
  font-weight: 600;
}

section.timer > span.timer-text {
  margin-right: 4px;
}

section.timer > span > span.timer-time {
  display: inline-block;
  width: 20px;
  font-weight: 500;
}

section.timer > div.timer-submit > button {
  width: 148px;
  padding: 4px 16px;
}

section.timer > div.timer-submit > button.submitted {
  background-color: #586066;
  cursor: default;
}

p.error-message {
  height: 24px;
}

/* Mobile Styles */

@media screen and (max-width: 860px) {
  section.board.large {
    margin: 200px 0;
    transform: rotate(90deg);
  }

  section.board.large > div > div {
    transform: rotate(-90deg);
  }
}
