body > main > form {
  width: 480px;
  margin-bottom: 48px;
}

body > main > form > div > label {
  font-weight: 600;
}

body > main > form > div > input {
  width: 180px;
}

/* Mobile Styles */

@media screen and (max-width: 767px) {
  body > main > form {
    width: 100%;
  }
}
