body > main > section > div > p > span {
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  section.details {
    flex-direction: column;
  } 
}

@media screen and (max-width: 992px) {
  section.details {
    flex-direction: column;
    align-items: center;
  }

  section.details > div {
    align-items: center;
  }
}